<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/site.css")
</head>
    <body>

        @RenderBody()

    </body>
</html>
